*{margin: 0px;padding: 0px;}
body{font: 12px/24px "Microsoft Yahei", "宋体", Arial, Verdana, Geneva, sans-serif;color: #666;background-color: #fff;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, hr{margin: 0px;padding: 0px;}
a{color: #666;text-decoration: none;}
a:hover{color: #0062a6;text-decoration: none;}
img{border: 0;}
ul{display: block;}
ul, ul li{list-style: none;}
input, select, textarea{vertical-align: middle;font: 12px "Microsoft Yahei", Verdana, Geneva, sans-serif;border: 1px solid #dedede;}
.left{float: left;}
.right{float: right;}
.mt{margin-top: 10px;}
.hidden{
    display: none !important;
}
.mt4 {
    margin-top: 40px;
}
.mr{margin-right: 10px;}
.mb{margin-bottom: 10px;}
.ml{margin-left: 10px;}
.pt{padding-top: 10px;}
.pt2{padding-top:20px;}
.pt3{padding-top:30px;}
.pt4{padding-top:40px;}
.pt5{padding-top:50px;}
.pt6{padding-top:60px;}
.pt7{padding-top:70px;}
.pt8{padding-top:80px;}
.pt9{padding-top:90px;}
.pt10{padding-top:100px;}
.pr{padding-right: 10px;}
.pb{padding-bottom: 10px;}
.pb2{padding-bottom: 20px;}
.pb3{padding-bottom: 30px;}
.pb4{padding-bottom: 40px;}
.pb5{padding-bottom: 50px;}
.pb6{padding-bottom: 60px;}
.pb7{padding-bottom: 70px;}
.pb8{padding-bottom: 80px;}
.pb9{padding-bottom: 90px;}
.pb10{padding-bottom: 100px;}
.pl{padding-left: 10px;}
.wp{margin: 0px auto;width: 1200px;}
.cls{font-size: 0px;height: 0px;line-height: 0px;clear: both;}
.hs{background: #f5f5f5;}

/*===============================字体==========================*/
@font-face {
    font-family: 'Open Sans Light';
    src: url('../font/Open Sans Light.ttf') format('ttf'),
		     url('../font/Open Sans Light.woff') format('woff'),
         url('../font/Open Sans Light.svg#oswaldextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
  font-family: "iconfont2"; /* Project id 2798355 */
  src: url('../font2/iconfont.woff2?t=1632899014315') format('woff2'),
       url('../font2/iconfont.woff?t=1632899014315') format('woff'),
       url('../font2/iconfont.ttf?t=1632899014315') format('truetype');
}


.iconfont2{
    font-family:"iconfont2" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
	}

    /*#region ===========图标字体===========*/
@font-face {font-family: "iconfont";
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-search:before { content: "\e648"; }
  .icon-top:before { content: "\e653"; }
  .icon-share:before { content: "\e64a"; }
  .icon-favorite:before { content: "\e66e"; }
  .icon-gouwuche:before { content: "\e655"; }
  .icon-gerenzhongxin:before { content: "\e60f"; }
  .icon-shouye:before { content: "\f004a"; }
  .icon-fanhui:before { content: "\e608"; }
  /*#endregion */



.zt{ font-family: 'Open Sans Light'; font-size: 14px; color: #999999; letter-spacing: 1px;}

.fz18{ font-size: 20px;}
/*===============================header==========================*/
.ix-header{ height: 100px; line-height: 100px; background-color:#fff; position: relative; z-index: 2;}
.ix-logo img{ height: 70px; padding-top: 15px;}
.ix-header .ix-nav ul li{ float: left; padding-left: 50px; height: 100px; position: relative;} 
.ix-header .ix-nav ul li a{ color:#666666; font-size: 16px;}
.ix-header .ix-nav ul li a .iconfont2{ color:#666;vertical-align:top;}
.ix-header .ix-nav ul li .ix-hyll{ opacity: 0; visibility: hidden; transition: all 0.36s ease; position: absolute; top: 90px;;  background-color: #fff; padding:0px 0px; border-radius: 10px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); width: 110px; text-align: center; overflow: hidden;}
.ix-header .ix-nav ul li .ix-hyll a{color:#666666; display: block; line-height: 40px; height: 40px; }
.ix-header .ix-nav ul li:hover .ix-hyll{ opacity: 1; visibility: visible;}
.ix-header .ix-nav ul li .ix-hyll a:hover{ background-color: #f2fbff;}
.ix-header .ix-nav ul li a:hover{color: #0579ae;}

/*banner*/
.ix-banner .ix-ban-img{ height: 700px; max-width: 1920px; margin: 0px auto;}
.ix-banner .swiper-button-next,  .ix-banner .swiper-button-prev{width: 50px; height: 50px; margin-top: -25px;}
.ix-banner .swiper-button-next{ background: url(../images/r.png) no-repeat center center; right: 40px;}
.ix-banner .swiper-button-prev{ background: url(../images/l.png) no-repeat center center; left: 40px;}


/* 首页通用头部 */
.ix-head{ text-align: center;}
.ix-head h1{ font-weight: normal; font-size: 24px; color:#333333; line-height: 160%;}
.ix-head p{ font-weight: normal; font-size: 16px; color:#999999; line-height: 120%;}
/*赛事申报*/
.ix-sssb-wp .swiper-container{padding: 10px;}
.ix-sssb-box{box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15); }
.ix-sb-img{ width: 100%; height: 280px; overflow: hidden;}
.ix-sb-img img{ width: 100%; height: 280px; transition: all 0.36s ease;}
.ix-sb-tit{ padding: 30px;}
.ix-sb-tit .ist-t1{ font-size: 16px; color: #333;height:48px}
.ix-sb-tit .ist-t2{ font-size: 14px; color: #999; padding-top: 15px; padding-bottom: 15px;}
.ix-sb-tit .ist-t3 { font-size: 14px; color: #999; display: inline-block; width: 148px; height: 38px; border: solid 1px #e0e0e0; text-align: center; line-height: 38px; transition: all 0.36s ease;}
.ix-sb-tit .ist-t3 span{ display: inline-block; padding-left: 10px; font-weight: bold; font-family: "宋体";}
.ix-sssb-wp{ width: 1200px; margin: 0px auto; padding: 0px 90px; position: relative;}
.ix-sssb-wp .swiper-button-next,  .ix-sssb-wp .swiper-button-prev{width: 50px; height: 50px; margin-top: -25px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);}
.ix-sssb-wp .swiper-button-next{ background: url(../images/r1.png) no-repeat center center; right: 0px;}
.ix-sssb-wp .swiper-button-prev{ background: url(../images/l1.png) no-repeat center center; left: 0px;}
.ix-sssb-wp a:hover .ix-sb-img img { transform: scale(1.08);}
.ix-sssb-wp a:hover .ix-sb-tit .ist-t3 { background-color: #0579ae; border: solid 1px #0579ae; color:#fff;}

/*赛事动态*/
/* 本例子css */

.ix-ssdt-box .hd{  width: 670px;position:relative; }
.ix-ssdt-box .hd ul li{ cursor:pointer; position: relative; transition: all 0.36s ease }
.ix-ssdt-box .hd ul li.on{ background:#fff;  }

.ix-ssdt-box .hd .hd-time{ position: absolute; background-color: #fff; left: 40px; top: 25px; width: 75px; height: 75px; text-align: center;}
.ix-ssdt-box .hd ul li { padding-left: 140px; padding-right: 20px; padding-top: 32px; padding-bottom: 32px; border-bottom: solid 1px #e1e1e1;}
.ix-ssdt-box .hd ul li:nth-child(1){ padding-top: 0px;}
.ix-ssdt-box .hd ul li:nth-child(1) .hd-time{ top: 0;}
.ix-ssdt-box .bd{ width: 530px; overflow: hidden;}
.ix-ssdt-box .bd ul{  zoom:1;  }
.ix-ssdt-box .bd li{ background-color: #fff;}
.bd-img{width: 530px; height: 400px; position: relative; overflow: hidden;}
.bd-img img{ width: 530px; height: 400px; transition: all 0.36s ease;}
.ix-ssdt-box .bd-box{ padding: 20px;}
.ix-ssdt-box .bd-box .bd-t1{ font-size: 18px; color: #333; padding-bottom: 15px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; transition: all 0.36s ease;}
.ix-ssdt-box .bd-box .bd-t2{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; height: 50px; font-size: 14px; color:#333; }
.ix-ssdt-box .bd-box .bd-t3{padding-top: 10px; vertical-align: middle; color: #666;}
.ix-ssdt-box .bd-box .bd-t3 i{color: #666; display: inline-block; padding-right: 5px;}  
.hd-time h1{font-size: 35px; font-weight: normal; padding-top: 10px; line-height: 100%; color: #333;}
.hd-time p{font-size: 14px; color: #333;}
.hd-list-t1{ font-size: 16px; color: #333;width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-bottom: 10px;}
.hd-list-t2{ font-size: 14px; color: #333;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; height: 50px;}


.ix-ssdt-box .bd li a:hover .bd-img img{ transform: scale(1.08);}
.ix-ssdt-box .bd li a:hover .bd-t1{ color: #0579ae;}


/*精彩回顾*/
.ix-jchg-wp a .ix-jb-img img{ transition: all 0.36s ease; max-width: 100%;}
.ix-jchg-wp{ width: 1200px; margin: 0px auto; padding: 0px 90px; position: relative;}
.ix-jchg-wp .swiper-button-next,  .ix-sssb-wp .swiper-button-prev{width: 50px; height: 50px; margin-top: -25px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);}
.ix-jchg-wp .swiper-button-next{ background: url(../images/r1.png) no-repeat center center; right: 0px;}
.ix-jchg-wp .swiper-button-prev{ background: url(../images/l1.png) no-repeat center center; left: 0px;}
.ix-jchg-wp a:hover .ix-jb-img img { transform: scale(1.08);}


/*底部*/
.ix-footer{ color: #808080; font-size: 14px; line-height: 200%;}
.ix-footer a{ color: #808080; font-size: 14px;}
.ix-footer a:hover{ color: #0579ae;}
.ix-foot-t1{ width: 630px; padding-right: 45px;}
.ix-foot-t1 p.abc a{ display: inline-block; padding-right: 10px;}
.ix-foot-t1 h1{font-size: 24px; color:#0579ae; font-weight: normal; font-style: italic; padding-bottom: 5px; padding-bottom: 10px;}
.ix-foot-t1 h1 i{ font-size: 30px; color: #0579ae; display: inline-block; padding-right: 10px;}
.ix-foot-t2{ width: 260px; }
.ix-foot-t2 ul li{ float: left; width: 80px; padding-right: 50px;}
.ix-foot-t2 ul li img{ width: 80px; height: 80px;}


/*客服*/
.ix-kf{ position: fixed; top: 140px; right: 0; z-index: 11;}
.ix-kf-bm{ width: 80px; background-color: #ed5247; border-radius: 6px 0px 0px 6px; text-align: center; padding-top: 15px; padding-bottom:  10px; cursor: pointer; transition: all 0.36s ease;} 
.ix-kf-bm img{ width: 30px; display: block; margin: 0px auto; }
.ix-kf-bm p{ color: #fff; font-size: 12px;}

.ix-kf-list{ background-color: #fff; border-radius: 6px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  padding: 10px 20px; position: absolute; right: -190px; top: 0;  display: block; width: 150px; transition: all 0.36s ease;}
.ix-kf-list ul li{ border-bottom: solid 1px #e0e0e0;}
.ix-kf-list ul li:nth-last-child(1){ border-bottom: none;}
.ix-kf-list a{color: #666; line-height: 24px; font-size: 14px; transition: all 0.36s ease;}
.ix-kf-list a:hover{color: #0579ae;}


.ix-kf-wp{ position: relative;}


.ix-kf.hover .ix-kf-bm{ opacity: 0; visibility: hidden;}
.ix-kf.hover .ix-kf-list{ right: 0px;}